.footer {
  padding: 180px 0 70px 0;
  color: $white-color;
  background-color: $accent-dark-color;

  &__content {
    display: flex;
    padding: 0 0 95px 0;
    section {
      &:nth-child(1) {
        width: 25%;
      }
      &:nth-child(2) {
        width: 35%;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
      }
      &:nth-child(3) {
        width: 40%;
      }
    }
  }

  &__bottom-text {
    font-size: 18px;
    padding-bottom: 45px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__bottom-copy {
    padding-top: 30px;
    font-size: 14px;
  }
}
