.section-video {
  position: relative;
  height: 1068px;
  @include media(tablet-wide, max) {
    height: auto;
  }

  &__wrapper {
    display: flex;
    @include media(tablet-wide, max) {
      flex-direction: column;
    }
  }

  &__content {
    width: 50%;
    padding: 160px 60px 160px 0;
    @include media(tablet-wide, max) {
      width: 100%;
      padding: 80px 0;
    }
    @include media(phablet, max) {
      padding: 20px 0;
    }
  }

  &__video {
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    @include media(tablet-wide, max) {
      position: relative;
      top: auto;
      right: auto;
      width: auto;
      height: 300px;
      margin: 0 -15px;
    }
    video {
      width: 50vw;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      object-fit: cover;
      :focus {
        outline: none;
      }
      @include media(tablet-wide, max) {
        display: block;
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        height: 300px;
      }
    }
  }

  &__title {
    font-size: 54px;
    line-height: 1.1;
    font-weight: bold;
    font-family: 'Argos';
    margin-bottom: 70px;
    max-width: 75%;
    color: $accent-color;
    &::first-line {
      color: $black-color;
    }
    @include media(tablet-wide, max) {
      margin-bottom: 35px;
      max-width: 50%;
    }
    @include media(tablet, max) {
      max-width: 100%;
    }
    @include media(phablet, max) {
      font-size: 32px;
    }
  }

  &__subtitle {
    display: block;
    max-width: 380px;
    font-size: 30px;
    line-height: 1.2;
    color: $black-color;
    font-family: 'Guanabara';
    font-weight: normal;
    margin-bottom: 30px;
    @include media(tablet-wide, max) {
      margin-bottom: 15px;
      min-width: 100%;
    }
    @include media(tablet, max) {
      font-size: 24px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: $text-black-color;
    margin-bottom: 30px;
    @include media(tablet-wide, max) {
      margin-bottom: 15px;
    }
    @include media(phablet, max) {
      font-size: 16px;
    }
  }

  &__descr {
    font-size: 30px;
    line-height: 1.3;
    font-weight: bold;
    color: $black-color;
    margin-top: 140px;
    span {
      color: $accent-dark-blue;
    }
    @include media(tablet-wide, max) {
      margin-top: 70px;
    }
    @include media(tablet, max) {
      font-size: 24px;
    }
    @include media(phablet, max) {
      font-size: 20px;
      margin-top: 35px;
    }
  }
}

.btn-video {
  position: absolute;
  bottom: 30px;
  right: 50%;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 2;
  transform: translateX(50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  span {
    transition: $trs;
  }
  &.play {
    span {
      display: block;
      width: 1px;
      height: 20px;
      background-color: #fff;
      &:first-child {
        margin-right: 5px;
      }
    }
  }
  &.paused {
    span {
      display: none;
      &:first-child {
        display: block;
        width: 0;
        height: 0;
        margin-left: 5px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid #fff;
      }
    }
  }
  &:focus {
    outline: none;
  }
}
