.section-donate {
  position: relative;
  padding: 135px 0;

  @include media(tablet, max) {
    padding: 40px 0;
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 1;
    background-color: $bg-color;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    display: flex;

    @include media(tablet, max) {
      flex-direction: column;
    }
  }

  &__image {
    padding-right: 125px;
    @include media(tablet-wide, max) {
      padding-right: 60px;
    }
  }

  &__content {
    padding-top: 110px;

    @include media(tablet-wide, max) {
      padding-top: 50px;
    }

    .btn {
      width: 226px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.3;
    color: #222331;
    margin-bottom: 40px;
    max-width: 390px;
  }
}
