.main-menu {
  display: flex;
  align-items: center;
  margin-right: 25px;
  @include media(tablet, max) {
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
  }
  li {
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
      @include media(tablet-wide, max) {
        margin-right: 25px;
      }
      @include media(tablet, max) {
        margin-right: 0;
      }
    }
    a {
      position: relative;
      display: block;
      font-size: 16px;
      line-height: 19px;
      color: $text-gray-color;
      padding: 10px 0;
      &:hover {
        color: $accent-color;
        box-shadow: 0 2px $accent-color;
      }
      @include media(tablet, max) {
        color: $white-color;
        &:hover {
          color: $white-color;
          box-shadow: 0 2px $white-color;
        }
      }
    }
    ul {
      position: absolute;
      top: 105%;
      left: 0;
      width: 200px;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      @include media(tablet, max) {
        display: none;
      }
    }
  }
}
