.btn {
  display: inline-flex;
  justify-content: center;
  padding: 13px 15px;
  font-family: 'Guanabara';
  font-size: 16px;
  text-align: center;
  color: $white-color;
  background-color: $accent-color;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  transition: $trs;
  letter-spacing: 0.8px;

  &:focus,
  &:active {
    outline: none;
    background-color: darken($accent-color, 10);
  }

  &:hover {
    background-color: lighten($accent-color, 10);
    box-shadow: 0 10px 10px -5px rgba($accent-color, 0.8);
  }

  @include media(phone, max) {
    font-size: 14px;
    padding: 10px;
  }
}
