@font-face {
  font-family: 'Guanabara';
  src: url('../../fonts/GuanabaraSansMedium.ttf') format('truetype');
}
@font-face {
  font-family: 'Argos';
  src: url('../../fonts/Argos-Regular.ttf') format('truetype');
}
