// body {
//   @apply font-sans;
// }

// .brand {
//   @apply text-3xl font-medium text-indigo-500;
// }
body {
  &.fixed {
    overflow: hidden;
  }
}

a {
  transition: $trs;
}

.main {
  padding-top: 172px;
  @include media(tablet, max) {
    padding-top: 148px;
  }
}
